.list-item {
  list-style-type: none;
  width: 100%;
}

.popular-image {
  width: 100%;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .popular-image {
    width: 100%;
  }
}
.popular-link {
  text-decoration: none;
  margin-right: 10px;
  width: 29%;
}
